<div id="social_container">
	<div id="social_links">
		<div>
			<a href="http://www.facebook.com/Jakorellc">
				<img src="{{MEDIA_URL}}jakore/images/facebook.png" alt="not found"/>
			</a>
		</div>
		<div>
			<a href="https://twitter.com/Jakore_">
				<img src="{{MEDIA_URL}}jakore/images/twitter.png" alt="not found" />
			</a>
		</div>
		<div>
			<a href="http://instagram.com/jakore/">
				<img src="{{MEDIA_URL}}jakore/images/instagram.png" alt="not found" />
			</a>
		</div>
	</div>
	<div style="clear:both">&nbsp;</div>
</div>