== partial "portfolio_css"

div id="portfolio_content"
	- unless photos.empty?
		div id="images" style="margin: auto;"
			- for photo in photos do
				img src="#{photo}" class="item" width="300"

javascript:
	$(function(){
		$("#images").imagesLoaded(function(){
			$("#images img").wookmark({
				autoResize: true,
				itemWidth: 300,
				container: $("#images"),
				flexibleWidth: '50%',
				offset: 10,
				outerOffset: 60
			});
		});
	});