span class="title" Specials
p id="specials_content"
	|
		Wednesdays special consist of:<br />
		$50 basic sew-in<br />
		$25 additional for 3rd bundle<br />
		$10 weaving net (highly recommended)<br />
		$15 and up for cut, curls, and style<br />