span class="title" Specials
p id="specials_content"
	|
		Wednesdays special consist of:
		$50 basic sew-in
		$25 additional for 3rd bundle
		$10 weaving net (highly recommended)
		$15 and up for cut, curls, and style