*{
	padding: 0;
	margin: 0;
}

.left{
	float: left;
}

nav{
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#site_name{
	color: #fff;
	padding: 10px;
	text-shadow: -1px 0 rgba(0,0,0,0.5);
}

#slideshow{
	background: url('/images/staff.png') center center;
	background-size: cover;
	height: 200px;
}

#slogan{
	color: rgba(248, 248, 255, 0.8);
	display: table-cell;
	font-size: 25px;
	height: 190px;
	text-align: center; 
	text-shadow: 1px 0 #000;
	vertical-align: bottom;
}

.right{
	float: right;
}

@media screen and (max-width: 40.5em){
	#btn-collapse{
		margin: 7px 5px 0 0;
	}

	.collapsed{
		display: none;
	}

	#nav_bar:after{
		content: "";
		clear: both;
		display:block;
	}

	nav ul li a{
		color: #fff;
		display: block;
		padding: 4px 0;
		text-decoration: none;
		text-align: center;
	}

	nav ul li a:hover{
		background: #a90329;
	}
}