*{
	font-family: "Josefin Sans";
	letter-spacing: 0;
	margin: 0;
	padding: 0;
}

body{
	min-width: 1200px;
}

.album_cover{
	display: inline-block;
	margin: 10px;
	height: 300px;
	width: 300px;
}

.album_cover img{
	height: 100%;
	width: 100%;
}

.album_overlay{
	background: rgba(0, 0, 0, 0.8);
	display: table;
	height: 100%;
	position: relative;
	top: -304px;
	width: 100%;
	vertical-align: middle;
}

.album_overlay:hover{
	background: rgba(0, 0, 0, 0.4);
}

.album_overlay a{
	color: #fff;
	display: table-cell;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
	vertical-align: middle;
}

.left{
	float: left;
}

.right{
	float: right;
}

.title{
	color: #666;
	display: block;
	font-size: 18pt;
	font-weight: bold;
	margin: 10px 0;
}

footer{
	background: #3C3C3C;
}

footer:after{
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}

nav{
	text-shadow: 1px 1px 1px #000;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

nav a{
	color: #fff;
	text-decoration: none;
}

nav a:hover{
	color: #C0C0C0;
}

nav ul{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22pt;
	list-style: none;
	margin: 0;
	margin-top: 3px;
	margin-right: 40px;
}

nav ul li{
	display: inline-block;
}

nav > ul > li > a{
	display: block;
	padding: 10px 0;
}

#about_container{
	background: rgba(204, 204, 204, 0.1);
	height: 400px;
	padding: 10px;
}

#about_container:after{
	display: block;
	clear: both;
}

#about_content{
	margin-top: 50px;
}

#content{
	background: url("/img/bg.png");
	padding: 30px 0;
	text-align: center;
}

#content div{
	background: #fff;
	margin: 0 2%;
}

#menu{
	margin-top: 12px;
}

#portfolio_content{
	margin: 60px auto;
	/*width: 90%;*/
	text-align: center;
}

#portfolio_img{
	height: 300px;
	margin-top: 30px;
	text-align: center;
}

#portfolio_img img{
	border:20px solid #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	height: 100%;
}

#site_name{
	color: #fff;
	font-family: "Blessed Day";
	font-size: 30pt;
	margin-left: 40px;
	margin-top: 10px;
}

#slideshow{
	height: 600px;
	overflow: hidden;
}

#slideshow img{
	width: 100%;
}

#social div{
	display: inline-block;
}

#sticky{
	background: rgba(153,153,153,0.5);
	position: fixed;
}
