*{
	letter-spacing: 0;
	margin: 0;
	padding: 0;
}

.left{
	float: left;
}

.right{
	float: right;
}

footer{
	background: #999;
}

footer:after{
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}

img{
	height: 100% !important;
	width: auto;
}

nav{
	font-family: "Blessed Day";
	font-size: 30pt;
	text-shadow: 1px 1px 1px #000;
	position: absolute;
	width: 100%;
}

nav a{
	color: #fff;
	text-decoration: none;
}

nav ul{
	font-family: sans-serif;
	font-size: 16pt;
	list-style: none;
	margin: 0;
	margin-top: 3px;
	margin-right: 40px;
}

nav ul li{
	display: inline-block;
}

nav > ul > li > a{
	display: block;
	padding: 10px 0;
}

#about_container{
	background: rgba(204, 204, 204, 0.1);
	height: 400px;
	padding: 10px;
}

#about_container:after{
	display: block;
	clear: both;
}

#about_content{
	margin-top: 50px;
}

#content{
	background: url("/img/bg.png");
	padding: 30px 0;
	text-align: center;
}

#content div{
	background: #fff;
	height: 400px;
	margin: 0 2%;
}

#menu{
	margin-top: 12px;
}

#portfolio_img{
	height: 400px;
	text-align: center;
}

#site_name{
	color: #fff;
	margin-left: 40px;
	margin-top: 10px;
}

#slideshow{
	background: url("/images/staff.png") center center;
	background-size: cover;
	height: 600px;
}

#social div{
	display: inline-block;
}

#sticky{
	background: rgba(153,153,153,0.5);
	position: fixed;
}
