{% extends "base.html" %}{% load custom %}

{% block extra-head %}
    <style>
        #slideshow-container{
            display:none;
        }
    </style>
{% endblock %}

{% block nav-ul %}
    <ul>
        <li><a href="/">Home</a><!-- this style seems so wrong lol -->
        {% get_sections %}
        {% for section in section_list %}
            <li><a href="/section/{{ section.url }}/">{{ section }}</a>
        {% endfor %}
        <li id='selected'><a href='/kustomz'>Kustomz</a></li>
        <li><a href="/story/">Our Story</a>
    </ul>
{% endblock %}

{% block content %}
	<form action="/contact/" method="post">{% csrf_token %}
		<table>
			{{form}}
		</table>
		<input type="submit" value="Submit"/>
	</form>
{% endblock %}
