{% extends "base.html" %}
{% load custom %}

{% block extra-head %}
    <style>
        #slideshow-container{
            display:none;
        }
    </style>
{% endblock %}

{% block nav-ul %}
    <ul>
        <li><a href="/">Home</a><!-- this style seems so wrong lol -->
        {% get_sections %}
        {% for s in section_list %}
            <li{% if section == s %} id="selected" {% endif %}><a href="/section/{{ s.url }}/">{{ s }}</a>
        {% endfor %}
        <li><a href="/story/">Our Story</a>
    </ul>
{% endblock %}

{% block content %}
<div id="recent-container">
    <div id="section-title">Home&nbsp;&nbsp;>&nbsp;&nbsp;{{ section.name }}</div>
    <div class='row'>
    {% for item in item_list %}
        <div>
            <div class='item'>
                <img src="{{item.get_first_image.image.url}}" alt="{{item.name}}" />
                <h4>
                    <a href="/detail/{{ item.id }}" class="title">{{item.name}}</a>
                </h4>
                <strong class='price'>{{item.price}}</strong>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"4" %}
            </div><div class='row'>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %} 
