{% extends "base.html" %}
{% block style %}
	body{
		background-color:#000;
		height:auto;
	}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
	<div id="logo">
		<a href="/home/">
			<img src="{{MEDIA_URL}}jakore/images/Jakore.png" width="400" height="400" style="border:none;"/>
		</a><br /><br />
		<div style="color:#FFF;text-align: center;font-size: 35px;">Dope couture for innovators.</div>
		<div style="clear:both">&nbsp;</div>
	</div>
	<p id="logo_par">&nbsp;</p>
{% endblock %}
{% block footer %}{% endblock %}
